/* body{
    background-image: url("/imgs/2course.jpg");
    background-size:cover;
} */
.icon-lg {
    width: 3.5rem;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1;
}
.card {
    box-shadow: 0 20px 27px 0 rgba(226, 220, 220, 0.05);
}
a {
    text-decoration:none;  
}
.backtrans{
    background-color: transparent;
}
.adjimg{
    height: 200px;
    width:100%;
}
/* .course-card {
    height: 350px; /* Adjust the value as needed 
    overflow: auto;}
    */
   
/* .desc{
    color:#fff;    
} */